Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

test: remove .only()
  test/spec.ts
Labels: none

test: add tests for instance modals
  test/spec.ts
Labels: none

test: remove .only()
  test/spec.ts
Labels: none

test: add test for instance rename modal
  test/spec.ts
Labels: none

test: remove .only()
  test/spec.ts
Labels: none

chore: npm audit fix
  package-lock.json
Labels: none

test: add test for instance confirm delete
  test/spec.ts
Labels: none

test: rewrite assertions using chai
  test/spec.ts
Labels: none

test: add test for instance options rename
  test/spec.ts
Labels: none

chore(deps): update mocha
  package-lock.json
  package.json
Labels: none

test: add test for instance installation
  test/spec.ts
Labels: none

chore: skip install test for now
  test/spec.ts
Labels: none

test: add tests for authentication modal
  test/spec.ts
Labels: none

test: shoud not be able to create two instances with same name
  test/spec.ts
Labels: none

Improve code coverage (#166)
  package-lock.json
  package.json
  test/spec.ts
Labels: none

chore(deps): remove @xmcl/java-installer and replace with @xmcl/installer
  package-lock.json
  package.json
  src/renderer/controllers/JavaInstall.ts
Labels: renderer-process

fix: wrong import
  src/renderer/Instance.ts
Labels: renderer-process

0.7.5
  package-lock.json
  package.json
Labels: none

refactor: rename InstanceStore to InstanceListStore
  src/renderer/Instance.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

fix: use uuid instead of game name for avatar
  src/renderer/components/UserStatus.ts
  src/renderer/templates/UserStatus.pug
Labels: renderer-process, components, templates

refactor: make store internal
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

fix: typescript errors
  src/renderer/Instance.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/InstanceList.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

fix: new instance not triggering instance list render
  src/renderer/components/NewInstanceModal.ts
Labels: renderer-process, components

fix: rename modal not saving to store
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

fix: rename with options modal
  src/renderer/components/InstanceModal/Options.ts
Labels: renderer-process, components

fix: instance delete
  src/renderer/Instance.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

chore: remove useless method
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

chore: remove useless methods
  src/renderer/Instance.ts
Labels: renderer-process

refactor: add uuid to InstanceData
  src/renderer/Instance.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceData.ts
Labels: renderer-process, components

fix: player name missing in UserStatus
  src/renderer/components/UserStatus.ts
  src/renderer/templates/UserStatus.pug
Labels: renderer-process, components, templates

refactor: rename findInstance to findInstanceName
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

test: ignore util.ts for code coverage
  src/renderer/util.ts
Labels: renderer-process

refactor: remove type cast to any
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

test: use codecov instead of coveralls
  .github/workflows/test.yml
Labels: none

fix: typo in workflow
  .github/workflows/test.yml
Labels: none

chore: remove comments
  .github/workflows/test.yml
Labels: none

feat: add isInstalling field
  src/renderer/Instance.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceData.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

refactor: rename pug template to match ts component
  src/renderer/components/InstanceListItem.ts
  src/renderer/templates/InstanceListItem.pug
Labels: renderer-process, components, templates

feat: save isInstalling state
  src/renderer/Instance.ts
  src/renderer/templates/InstanceListItem.pug
Labels: renderer-process, templates

fix: wrong styles in template
  src/renderer/templates/InstanceListItem.pug
Labels: renderer-process, templates

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
