Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

chore: simplify code
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: change slightly progress style
  src/renderer/templates/TaskProgress.pug
Labels: renderer-process, templates

feat: show downloaded file name in progress bar
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: move simultaneous tasks to right
  src/renderer/components/TaskProgress.ts
  src/renderer/css/global.css
  src/renderer/templates/TaskProgress.pug
Labels: renderer-process, components, templates, css

style: use const instead of let
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

chore: remove useless comments
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: add success message
  src/renderer/components/TaskProgress.ts
  src/renderer/templates/TaskProgress.pug
Labels: renderer-process, components, templates

feat: add more fine grained progress
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

perf: do not update dom so frequently
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

perf: make progress bar smoother
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

fix: no file name in progress bar
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

test: extend timeout
  test/spec.ts
Labels: none

0.8.0
  package-lock.json
  package.json
Labels: none

test: extend auth invalid cred timeout
  test/spec.ts
Labels: none

chore: temp rename
  src/renderer/templates/modals/instances/saves.pug
  src/renderer/templates/modals/instances/saves__.pug
Labels: renderer-process, templates

chore: rename to caps
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

docs: Update README.md
  README.md
Labels: none

feat: add basic template for saves modal
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

feat: add tab to data modal
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

feat: replace tabular with secondary menu
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

feat: add server list
  package-lock.json
  package.json
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

perf: improve fs perf and add loader
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

fix: remove all error messages before render
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

perf: use existing selector
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

fix: allowRendererProcessReuse breaks fs in renderer
  src/main/main.ts
Labels: main-process

fix: use async fs methods
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

chore: remove debug message
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

test: add basic test for servers tab
  test/spec.ts
Labels: none

chore: add @xmcl/client
  package-lock.json
  package.json
Labels: none

feat: ping servers
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

fix: minecraft game path in wrong dir
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

feat: show player count in server list
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

feat: set server table column length
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

feat: add error status to failed server pings
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

feat: add refresh button to server list
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

chore: reduce timeout to 4000ms
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

fix: mark @xmcl/client as external for temp fix
  package-lock.json
  package.json
  webpack.config.js
Labels: none

chore: fix import for uuid
  src/renderer/components/NewInstanceModal.ts
  test/spec.ts
Labels: renderer-process, components

fix: missing uuid/v4 in package
  package.json
Labels: none

chore: remove debug message
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
