Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

Migrate to playwright for application testing (#334)
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/main/main.ts
  src/renderer/views/layout.pug
  src/renderer/views/news.pug
  test/instances.test.ts
  test/setup.ts
  test/spec.ts
  test/window.test.ts
Labels: main-process, renderer-process, templates

0.10.7
  package-lock.json
  package.json
Labels: none

chore: create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

feat(ui): add pages to instance modal
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/UnsavedDataWarning.ts
Labels: renderer-process, components

feat(components): create new InstanceModalContainer element
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

feat(instance-modal): handle save and discard events
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/UnsavedDataWarning.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

feat: new InstanceModalContainer
  .vscode/tasks.json
  package-lock.json
  package.json
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/instance/AdvancedOptionsPage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/SavesPage.ts
  src/renderer/components/instance/ServersPage.ts
  src/renderer/components/instance/UnsavedDataWarning.ts
  src/renderer/views/layout.pug
  tsconfig.json
Labels: renderer-process, components, templates

fix: mkdirp save path
  src/renderer/Instance.ts
Labels: renderer-process

style(eslint): eslint fix
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/UnsavedDataWarning.ts
Labels: renderer-process, components

feat: create custom element for every instance modal page/tab
  src/renderer/components/instance/AdvancedOptionsPage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/SavesPage.ts
  src/renderer/components/instance/ServersPage.ts
Labels: renderer-process, components

refactor: use events instead of callback
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/QuickInfoPage.ts
Labels: renderer-process, components

chore: update fomantic-ui
  semantic.json
  semantic/src/definitions/collections/grid.less
  semantic/src/definitions/elements/icon.less
  semantic/src/definitions/elements/label.less
  semantic/src/definitions/elements/text.less
  semantic/src/definitions/modules/calendar.js
  semantic/src/definitions/modules/dimmer.less
  semantic/src/definitions/modules/dropdown.js
  semantic/src/definitions/modules/dropdown.less
  semantic/src/themes/default/assets/fonts/brand-icons.svg
  semantic/src/themes/default/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/outline-icons.svg
  semantic/src/themes/default/elements/icon.variables
  semantic/src/themes/default/elements/label.variables
  semantic/src/themes/default/elements/text.variables
  semantic/src/themes/default/globals/variation.variables
  semantic/src/themes/default/modules/dropdown.variables
  semantic/src/themes/default/modules/transition.overrides
  semantic/tasks/config/project/release.js
  src/main/main.ts
  src/renderer/components/instance/AdvancedOptionsPage.ts
Labels: main-process, renderer-process, components

fix: quick info page not updating
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/instance/AdvancedOptionsPage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/ServersPage.ts
Labels: renderer-process, components

feat: add saves tab
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/SavesPage.ts
Labels: renderer-process, components

test: move authentication tests to electron-playwright
  package-lock.json
  package.json
  test/authentication.test.ts
  test/instances.test.ts
  test/spec.ts
Labels: none

feat: add play/install button in InstanceModalContainer
  src/renderer/components/instance/InstanceModalContainer.ts
Labels: renderer-process, components

test: fix new instance test
  src/renderer/components/NewInstanceModal.ts
  test/instances.test.ts
Labels: renderer-process, components

test: add tests for instance modal
  test/instances.test.ts
Labels: none

test: add additional instance tests
  test/instances.test.ts
  test/spec.ts
Labels: none

feat: show new instance modal on home page
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/instance/SavesPage.ts
  test/instances.test.ts
Labels: renderer-process, components

test: settings modal
  test/spec.ts
  test/window.test.ts
Labels: none

test: add tests for instance-modal-container
  test/instances.test.ts
Labels: none

test: inject versionsMetaCache.json
  test/instances.test.ts
  test/mock/versionsMetaCache.json
Labels: none

test: add servers.dat test
  src/renderer/components/NewInstanceModal.ts
  test/instances.test.ts
Labels: renderer-process, components

test: fix should close instance modal
  test/instances.test.ts
Labels: none

chore: skip all spectron tests
  test/spec.ts
Labels: none

feat: add logs and mods page (placeholder)
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/LogsPage.ts
  src/renderer/components/instance/ModsPage.ts
  test/instances.test.ts
Labels: renderer-process, components

test: unsaved-data-warning test
  src/renderer/components/instance/UnsavedDataWarning.ts
  test/instances.test.ts
Labels: renderer-process, components

feat: new instance delete confirmation page
  src/renderer/StartupTasks.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/instance/AdvancedOptionsPage.ts
  src/renderer/components/instance/DeletePage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/LogsPage.ts
  src/renderer/components/instance/ModsPage.ts
  src/renderer/components/instance/QuickInfoPage.ts
  test/instances.test.ts
Labels: renderer-process, components

chore: typos
  .github/workflows/test.yml
  src/renderer/components/instance/InstanceModalContainer.ts
  test/instances.test.ts
Labels: renderer-process, components

refactor: remove Instance default export
  package-lock.json
  package.json
  src/renderer/Instance.ts
  src/renderer/StartupTasks.ts
  src/renderer/TurbolinksController.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/components/InstanceModal/Logs.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/components/InstanceModal/SavesTabWorld.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/instance/DeletePage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/LogsPage.ts
  src/renderer/components/instance/ModsPage.ts
  src/renderer/components/instance/QuickInfoPage.ts
  src/renderer/components/instance/SavesPage.ts
  src/renderer/components/instance/ServersPage.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

feat: add error message when creating new instance
  src/renderer/components/NewInstanceModal.ts
Labels: renderer-process, components

feat: prevent creating an instance with same name
  src/renderer/components/NewInstanceModal.ts
Labels: renderer-process, components

test: fix tests
  .github/workflows/test.yml
  src/renderer/components/NewInstanceModal.ts
  test/instances.test.ts
  webpack.config.js
Labels: renderer-process, components

feat: unsaved data warning improvements
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/components/instance/UnsavedDataWarning.ts
  test/instances.test.ts
Labels: renderer-process, components

test: increase timeout for network request
  test/authentication.test.ts
Labels: none

feat: implement delete page
  src/renderer/components/instance/DeletePage.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  test/instances.test.ts
Labels: renderer-process, components

test: add install test
  test/install.test.ts
  test/mock/instances.json
Labels: none

test(workflow): convert two build steps into one
  .github/workflows/test.yml
  test/install.test.ts
Labels: none

tes: add additional tests to check .btn-play-install textContent
  test/install_launch.test.ts
Labels: none
