Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

fix: do not create deep copy when creating nodes
  src/renderer/components/InstanceList.ts
Labels: renderer-process, components

fix: rename modal
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

test: upload coverage even if test failed
  .github/workflows/test.yml
Labels: none

test: fix typo
  .github/workflows/test.yml
Labels: none

chore: cache npm for workflows
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
Labels: none

refactor: instance options modal to use new instance store
  src/renderer/components/InstanceModal/Options.ts
Labels: renderer-process, components

Instance list store refactor (#178)
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
  src/renderer/Instance.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/UserStatus.ts
  src/renderer/store/InstanceData.ts
  src/renderer/store/InstanceListStore.ts
  src/renderer/store/InstanceStore.ts
  src/renderer/templates/InstanceListItem.pug
  src/renderer/templates/UserStatus.pug
  src/renderer/util.ts
Labels: renderer-process, components, templates

0.7.6
  package-lock.json
  package.json
Labels: none

chore: remove dead code
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

chore: add madge config in package.json
  package.json
Labels: none

chore: remove dead code
  src/renderer/store/GlobalSettingsStore.ts
Labels: renderer-process

fix: install button not working in instance info modal
  src/renderer/components/InstanceModal/Info.ts
Labels: renderer-process, components

chore(deps): add @xmcl/task
  package-lock.json
  package.json
Labels: none

feat: add new progress bar component
  src/renderer/StartupTasks.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/css/global.css
  src/renderer/templates/TaskProgress.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates, css

feat: add hooks for update and fail
  src/renderer/components/TaskProgress.ts
  src/renderer/templates/TaskProgress.pug
Labels: renderer-process, components, templates

chore: npm audit fix
  package-lock.json
Labels: none

chore: change module to esnext
  tsconfig.json
Labels: none

style: remove trailing commas
  webpack.config.js
Labels: none

chore: undo module change
  tsconfig.json
Labels: none

fix: selector not working
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: use task in Instance
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

chore: remove useless debug message
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: change error message
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

fix: install task
  package-lock.json
  package.json
  src/renderer/Instance.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/views/layout.pug
  webpack.config.js
Labels: renderer-process, components, templates

fix: not in percentage
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: add instance name to progress bar
  src/renderer/Instance.ts
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

chore: remove debug message
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

fix: do not create deep copy of Instance
  src/renderer/components/InstanceList.ts
Labels: renderer-process, components

feat: more friendly install messages
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

perf: prevent updating the dom when unnecessary
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

test: enable install test
  test/spec.ts
Labels: none

fix: remove test attr
  src/renderer/views/layout.pug
Labels: renderer-process, templates

fix: turbolinks permanent for task progress
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

fix: minor fixes
  src/renderer/components/AuthModal.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

fix: play button in instance info modal
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Info.ts
Labels: renderer-process, components

chore: update madge config
  package-lock.json
  package.json
Labels: none

feat: hide component when no tasks and support multiple tasks
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

style: add explicit type to handle var
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: multiple simultaneous tasks
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: show how many other tasks running simultaneously
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components
