Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

style: use double quotes for strings
  test/spec.js
Labels: none

fix: exit mocha if fail
  package.json
Labels: none

fix: scripts in package.json
  package.json
Labels: none

test: use xvfb-run
  .github/workflows/test.yml
Labels: none

Add testing and coverage with mocha, spectron and nyc (#148)
  .gitpod.yml
  package-lock.json
  package.json
  test/spec.js
Labels: none

refactor: rename InstanceItem to InstanceListItem
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

chore: set tsdk dir
  .vscode/settings.json
Labels: none

docs: update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

chore: remove useless file
  src/main/Window.ts
Labels: main-process

perf: do not recreate nodes when number of instances do not change
  src/renderer/components/InstanceList.ts
Labels: renderer-process, components

refactor: webpack config
  package.json
  webpack.config.js
Labels: none

fix: rename modal not working
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/store/InstanceStore.ts
Labels: renderer-process, components

test: add istanbul instrumenter loader to webpack
  package-lock.json
  package.json
  webpack.config.js
Labels: none

test: add code coverage for renderer
  package-lock.json
  package.json
  test/spec.js
Labels: none

test: update workflow for renderer coverage
  .github/workflows/test.yml
Labels: none

test: also show text on coverage
  package.json
Labels: none

Add code coverage for electron renderer process (#154)
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/store/InstanceStore.ts
  test/spec.js
  webpack.config.js
Labels: renderer-process, components

chore: npm audit fix
  package-lock.json
Labels: none

chore: remove deprecated file
  src/renderer/controllers/NewInstanceModal.ts
Labels: renderer-process

chore: remove @xmcl/java-installer
  package-lock.json
Labels: none

chore: rename workflow and jobs
  .github/workflows/test.yml
Labels: none

docs: add Test workflow badge status
  README.md
Labels: none

style: eslint fix
  test/spec.js
Labels: none

test: add test to check new instance and settings modal
  test/spec.js
Labels: none

test: remove only()
  test/spec.js
Labels: none

test: change tests to typescript
  package-lock.json
  package.json
  test/spec.ts
Labels: none

test: use es imports and remove useless test
  test/spec.ts
Labels: none

chore: add @types/mocha
  package-lock.json
  package.json
Labels: none

test: add new test for login modal
  test/spec.ts
Labels: none

fix: wrong import
  test/spec.ts
Labels: none

fix: not requiring electron on windows
  test/spec.ts
Labels: none

test: fix broken tests
  test/spec.ts
Labels: none

test: upload coverage even on error
  .github/workflows/test.yml
Labels: none

chore: add chai testing
  package-lock.json
  package.json
Labels: none

chore: add chai
  package-lock.json
  package.json
Labels: none

test: add tests for checking if new instance form allows empty form
  test/spec.ts
Labels: none

test: increase timeout
  test/spec.ts
Labels: none

chore: remove continue on error to show status in actions
  .github/workflows/test.yml
Labels: none

test: add test for instance creation
  test/spec.ts
Labels: none

chore: npm audit fix
  package-lock.json
Labels: none
