Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

chore: enable comments when instrumenting files
  webpack.config.js
Labels: none

chore: fix webpack config for coverage
  webpack.config.js
Labels: none

test: increase timeout
  test/spec.ts
Labels: none

refactor: revert temp fix for version list
  src/renderer/controllers/VersionsController.ts
Labels: renderer-process

chore: remove useless conditional
  src/renderer/controllers/VersionsController.ts
Labels: renderer-process

chore: add @xmcl/nbt
  package-lock.json
  package.json
Labels: none

chore: npm audit fix
  package-lock.json
Labels: none

chore: remove useless variable
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

chore: remove useless attribute
  src/renderer/views/layout.pug
Labels: renderer-process, templates

fix: do not rerender user status on every page load
  src/renderer/components/UserStatus.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

feat: simplify navbar
  src/renderer/css/global.css
  src/renderer/views/layout.pug
Labels: renderer-process, templates, css

feat: add new home page
  src/renderer/views/home.pug
  src/renderer/views/layout.pug
  webpack.config.js
Labels: renderer-process, templates

feat: add account modal
  src/renderer/StartupTasks.ts
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

test: skip temp auth modal
  test/spec.ts
Labels: none

style: add space before bracket
  src/renderer/store/AuthStore.ts
Labels: renderer-process

feat: show user in account modal
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

feat: add login button
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

fix: only bind event once
  src/renderer/components/AccountModal.ts
Labels: renderer-process, components

feat: rerender account modal on store change
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

chore: remove UserStatus
  src/renderer/StartupTasks.ts
  src/renderer/components/UserStatus.ts
  src/renderer/templates/UserStatus.pug
Labels: renderer-process, components, templates

feat: show toast on successfull login
  src/renderer/controllers/AuthenticationController.ts
Labels: renderer-process

fix: prevent submit from triggering twice
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
Labels: renderer-process, components

test: add test for new account modal
  test/spec.ts
Labels: none

feat: add styles for account modal when logged out
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, templates

refactor: minor fix
  src/renderer/components/AuthModal.ts
  src/renderer/templates/AuthModal.pug
Labels: renderer-process, components, templates

feat: home page segments
  src/renderer/components/AccountModal.ts
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

feat: add last played instance to home page
  src/renderer/HomeEntry.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/css/home.css
  src/renderer/templates/HomeComponents/Instance.pug
  src/renderer/views/home.pug
  webpack.config.js
Labels: renderer-process, components, templates, css

refactor: render account as custom element
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

refactor: move event listener to custom element
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Account.ts
Labels: renderer-process, components

fix: ponctuation typo
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, templates

feat: account component that shows currently selected account
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

fix: styling for last played instance
  src/renderer/templates/HomeComponents/Instance.pug
Labels: renderer-process, templates

chore(deps): update dependencies and audit
  package-lock.json
  package.json
Labels: none

chore(deps): npm dedupe and audit fix
  package-lock.json
Labels: none

test: force colors for mocha and set retry to 2
  package.json
Labels: none

chore: force colors for webpack output
  package.json
Labels: none

test: force colors when instrumenting files with webpack
  .github/workflows/test.yml
Labels: none

test: force colors for mocha and set retry to 2 (#205)
  .github/workflows/test.yml
  package.json
Labels: none

chore: npm ddp and audit fix
  package-lock.json
  package.json
Labels: none

chore: use npm ci in workflow
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
Labels: none
