Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

test: fix
  test/install_launch.test.ts
Labels: none

refactor: change instance page to lit-element component
  .gitignore
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/NewInstanceModal_old.ts
  src/renderer/components/views/InstanceView.ts
  src/renderer/views/instances.pug
  webpack.config.js
Labels: renderer-process, components, templates

fix: missing event handler on settings button
  src/renderer/components/views/InstanceView.ts
Labels: renderer-process, components

fix: instance list not updating
  src/renderer/components/InstanceList.ts
  src/renderer/components/views/InstanceView.ts
Labels: renderer-process, components

test: fix test
  test/window.test.ts
Labels: none

test: fix selector
  test/window.test.ts
Labels: none

test: add new test
  test/install_launch.test.ts
Labels: none

fix: test
  test/window.test.ts
Labels: none

test: mock mojang authserver for authentication
  .vscode/launch.json
  package-lock.json
  package.json
  src/renderer/components/InstanceList.ts
  test/authentication.test.ts
  test/setup.ts
Labels: renderer-process, components

test: add logout auth test
  src/renderer/components/AccountModal.ts
  test/authentication.test.ts
Labels: renderer-process, components

refactor: move isInstalling to Instance
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/store/InstanceData.ts
  src/renderer/store/InstanceListStore.ts
  test/install_launch.test.ts
  test/instances.test.ts
  test/window.test.ts
Labels: renderer-process, components

feat: create "changed" event for Instance
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal.ts
  src/renderer/components/InstanceModal/Info.ts
Labels: renderer-process, components

feat: listen to "changed" event in InstanceModalContainer
  src/renderer/components/instance/InstanceModalContainer.ts
Labels: renderer-process, components

test: add test for saves page and delete page
  test/instances.test.ts
  test/mock/MCBL Test/data/villages.dat
  test/mock/MCBL Test/data/villages_end.dat
  test/mock/MCBL Test/data/villages_nether.dat
  test/mock/MCBL Test/level.dat
  test/mock/MCBL Test/level.dat_mcr
  test/mock/MCBL Test/level.dat_old
  test/mock/MCBL Test/playerdata/fb67ba07-ae92-4056-9fad-d7b90dd0f8bc.dat
  test/mock/MCBL Test/region/r.-1.0.mca
  test/mock/MCBL Test/region/r.0.0.mca
  test/mock/MCBL Test/session.lock
  test/mock/MCBL Test/stats/fb67ba07-ae92-4056-9fad-d7b90dd0f8bc.json
Labels: none

[ImgBot] Optimize images
  semantic/dist/themes/default/assets/fonts/brand-icons.svg
  semantic/dist/themes/default/assets/fonts/icons.svg
  semantic/dist/themes/default/assets/fonts/outline-icons.svg
  semantic/src/themes/default/assets/fonts/brand-icons.svg
  semantic/src/themes/default/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/outline-icons.svg
Labels: none

0.11.0
  package-lock.json
  package.json
Labels: none

chore(webpack): clean up config
  webpack.config.js
Labels: none

feat(ui): show launched status on buttons
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/instance/InstanceModalContainer.ts
Labels: renderer-process, components

feat: logs
  src/renderer/components/instance/LogsPage.ts
Labels: renderer-process, components

0.11.1
  package-lock.json
  package.json
Labels: none

test(fix): missing coverage on component destructor
  test/instances.test.ts
Labels: none

Remove codacy badge and update wording in README.md
  README.md
Labels: none

[ImgBot] Optimize images
  semantic/src/themes/default/assets/fonts/brand-icons.svg
  semantic/src/themes/default/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/outline-icons.svg
Labels: none

chore: update project to use yarn
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
  package-lock.json
  yarn.lock
Labels: none

chore: run test even if build failed
  .github/workflows/test.yml
  package.json
  src/renderer/Instance.ts
  src/renderer/components/instance/InstanceModalContainer.ts
  src/renderer/store/InstanceData.ts
  yarn.lock
Labels: renderer-process, components

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
