Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

style: add new line at eof
  Minecraft Box Launcher.code-workspace
Labels: none

fix: do not rerender user status on every page load
  src/renderer/components/UserStatus.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

feat: simplify navbar
  src/renderer/css/global.css
  src/renderer/views/layout.pug
Labels: renderer-process, templates, css

chore: remove useless attribute
  src/renderer/views/layout.pug
Labels: renderer-process, templates

feat: show toast on successfull login
  src/renderer/controllers/AuthenticationController.ts
Labels: renderer-process

feat: add last played instance to home page
  src/renderer/HomeEntry.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/css/home.css
  src/renderer/templates/HomeComponents/Instance.pug
  src/renderer/views/home.pug
  webpack.config.js
Labels: renderer-process, components, templates, css

style: add space before bracket
  src/renderer/store/AuthStore.ts
Labels: renderer-process

refactor: render account as custom element
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

feat: add account modal
  src/renderer/StartupTasks.ts
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

test: add test for new account modal
  test/spec.ts
Labels: none

feat: add login button
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

feat: home page segments
  src/renderer/components/AccountModal.ts
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

feat: add new home page
  src/renderer/views/home.pug
  src/renderer/views/layout.pug
  webpack.config.js
Labels: renderer-process, templates

feat: add styles for account modal when logged out
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, templates

fix: only bind event once
  src/renderer/components/AccountModal.ts
Labels: renderer-process, components

chore: remove UserStatus
  src/renderer/StartupTasks.ts
  src/renderer/components/UserStatus.ts
  src/renderer/templates/UserStatus.pug
Labels: renderer-process, components, templates

feat: show user in account modal
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

feat: rerender account modal on store change
  src/renderer/components/AccountModal.ts
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, components, templates

fix: prevent submit from triggering twice
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
Labels: renderer-process, components

test: skip temp auth modal
  test/spec.ts
Labels: none

refactor: minor fix
  src/renderer/components/AuthModal.ts
  src/renderer/templates/AuthModal.pug
Labels: renderer-process, components, templates

feat: account component that shows currently selected account
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/views/home.pug
Labels: renderer-process, components, templates

refactor: move event listener to custom element
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Account.ts
Labels: renderer-process, components

fix: ponctuation typo
  src/renderer/templates/AccountModal.pug
Labels: renderer-process, templates

fix: styling for last played instance
  src/renderer/templates/HomeComponents/Instance.pug
Labels: renderer-process, templates

chore(deps): update dependencies and audit
  package-lock.json
Labels: none

chore(deps): npm dedupe and audit fix
  package-lock.json
Labels: none

style: add new line at eof
  Minecraft Box Launcher.code-workspace
Labels: none

fix: show a message when no instance exists
  .vscode/tasks.json
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/templates/HomeComponents/Instance.pug
Labels: renderer-process, components, templates

fix: show most recently played instance
  src/renderer/components/HomeComponents/Instance.ts
Labels: renderer-process, components

docs: update README.md
  README.md
Labels: none

test: add simple test for home page navigation
  test/spec.ts
Labels: none

test: remove only
  test/spec.ts
Labels: none

test: add test for checking instance last played widget
  test/spec.ts
Labels: none

test: fix typo in selector
  test/spec.ts
Labels: none

Feature: UI refresh and home page (#198)
  .vscode/tasks.json
  Minecraft Box Launcher.code-workspace
  README.md
  package-lock.json
  src/renderer/HomeEntry.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/UserStatus.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/css/global.css
  src/renderer/css/home.css
  src/renderer/store/AuthStore.ts
  src/renderer/templates/AccountModal.pug
  src/renderer/templates/AuthModal.pug
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/templates/HomeComponents/Instance.pug
  src/renderer/templates/UserStatus.pug
  src/renderer/views/home.pug
  src/renderer/views/layout.pug
  test/spec.ts
  webpack.config.js
Labels: renderer-process, components, templates, css

0.10.0
  package-lock.json
  package.json
Labels: none

chore: update actions/checkout to v2 in workflows
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
Labels: none

style: add new line
  src/renderer/templates/NewInstanceModal.pug
Labels: renderer-process, templates

chore: transpile only typescript in production
  webpack.config.js
Labels: none
