Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

chore: remove commented code
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

feat: set input error if instance exists already
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: simplify state update
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: add istanbul ignore
  src/renderer/components/InstanceModal/Info.ts
Labels: renderer-process, components

refactor: make showModal methods async
  src/renderer/components/AccountModal.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

style: use non-null assertion operator
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: make render() protected
  src/renderer/components/AccountModal.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: remove debug message
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: remove unused import
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

style: improve code cov
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

style: use non-null assertion operator
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

refactor: rewrite Saves modal using LitElement
  src/renderer/Instance.ts
  src/renderer/components/AccountModal.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

style(config): add more rules to eslint
  .eslintrc.json
Labels: none

style: eslint fix
  .eslintrc.json
  src/renderer/Instance.ts
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/controllers/SettingsModal.ts
  src/renderer/store.ts
  src/renderer/store/AuthStore.ts
  src/renderer/store/GlobalSettingsStore.ts
  src/renderer/util.ts
Labels: renderer-process, components

style: use ts-ignore because ts-expect-error not yet supported
  .eslintrc.json
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/controllers/SettingsModal.ts
  src/renderer/util.ts
Labels: renderer-process, components

style(config): allow non-null assertion
  .eslintrc.json
Labels: none

style: fix missing function return types
  src/renderer/components/AccountModal.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/controllers/SettingsModal.ts
  src/renderer/util.ts
Labels: renderer-process, components

style(lint): fix issues
  src/renderer/components/TaskProgress.ts
  src/renderer/controllers/AuthenticationController.ts
Labels: renderer-process, components

style(eslint): fix issues
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

style(eslint): fix issues
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceModal/Saves.ts
Labels: renderer-process, components

refactor: rewrite SavesTabServer with LitElement
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

test: fix test for SavesTabServer
  test/spec.ts
Labels: none

chore: remove useless method and use non-null assertion
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

chore: sort npm scripts
  package.json
Labels: none

refactor: rewrite SavesTabWorld with LitElement
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/components/InstanceModal/SavesTabWorld.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

refactor: rename refreshServers to refresh
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

style: create NBT Schema for world data
  src/renderer/components/InstanceModal/SavesTabWorld.ts
Labels: renderer-process, components

test: fix server list test
  test/spec.ts
Labels: none

test: remove only
  test/spec.ts
Labels: none

test: fix test for server list
  test/spec.ts
Labels: none

chore(gitpod): add lit-plugin extension
  .gitpod.yml
Labels: none

test: remove only
  test/spec.ts
Labels: none

chore: remove debug message
  src/renderer/components/InstanceModal/SavesTabWorld.ts
Labels: renderer-process, components

fix: throwing error when not logged in
  src/renderer/StartupTasks.ts
Labels: renderer-process

refactor: rewrite InstanceList with LitElement
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/views/instances.pug
Labels: renderer-process, components, templates

refactor: rewrite InstanceListItem with LitElement
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/InstanceList.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/templates/InstanceListItem.pug
Labels: renderer-process, components, templates

test: fix broken selectors
  test/spec.ts
Labels: none

chore: remove debug console.log message
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

refactor: make alertCorrupted a private function
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

refactor: implement last played instance widget with LitElement
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
