Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

Release 0.7.3 (#143)
  build/icon.png
  package-lock.json
  package.json
  semantic/src/themes/basic/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/brand-icons.svg
  semantic/src/themes/default/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/outline-icons.svg
  semantic/src/themes/github/assets/fonts/octicons.svg
  semantic/src/themes/material/assets/fonts/icons.svg
  src/renderer/Render.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceData.ts
  src/renderer/templates/NewInstanceModal.pug
  src/renderer/templates/modals/newInstance.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

feat: show login modal on instance launch if user not logged in
  src/renderer/components/AuthModal.ts
  src/renderer/components/InstanceItem.ts
Labels: renderer-process, components

style: eslint fix
  src/renderer/Instance.ts
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/store/AuthStore.ts
  src/renderer/store/InstanceData.ts
Labels: renderer-process, components

fix: missing import
  src/renderer/Instance.ts
Labels: renderer-process

feat: param to set error message in auth modal
  src/renderer/components/AuthModal.ts
Labels: renderer-process, components

chore: remove unused import and comments
  src/renderer/Render.ts
Labels: renderer-process

Refactor Authentication Modal (#145)
  src/renderer/Instance.ts
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/InstanceItem.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/UserStatus.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/store.ts
  src/renderer/store/AuthStore.ts
  src/renderer/store/InstanceData.ts
  src/renderer/templates/AuthModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

Merge develop branch (#146)
  src/renderer/Instance.ts
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/InstanceItem.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/components/UserStatus.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/store.ts
  src/renderer/store/AuthStore.ts
  src/renderer/store/InstanceData.ts
  src/renderer/templates/AuthModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

0.7.4
  package-lock.json
  package.json
Labels: none

0.7.5
  package-lock.json
  package.json
Labels: none

0.7.4
  package-lock.json
  package.json
Labels: none

chore: add mocha and spectron
  package-lock.json
  package.json
Labels: none

test: add some basic tests
  .gitpod.yml
  package.json
  test/spec.js
Labels: none

test: add some new tests
  test/spec.js
Labels: none

chore: add nyc
  package-lock.json
  package.json
Labels: none

chore: add test scripts to package.json
  package.json
Labels: none

test: add workflow file for testing
  .github/workflows/test.yml
Labels: none

fix: syntax error
  .github/workflows/test.yml
Labels: none

fix: scripts in package.json
  package.json
Labels: none

fix: launching spectron without gitpod
  test/spec.js
Labels: none

fix: exit mocha if fail
  package.json
Labels: none

style: use double quotes for strings
  test/spec.js
Labels: none

test: write test using async await
  test/spec.js
Labels: none

test: add chrome driver args
  test/spec.js
Labels: none

test: make before and after hooks async
  test/spec.js
Labels: none

test: add debug message
  test/spec.js
Labels: none

refactor: simplify main
  src/main/MainWindow.ts
  src/main/main.ts
Labels: main-process

refactor: simplify main (#149)
  src/main/MainWindow.ts
  src/main/main.ts
Labels: main-process

test: increase timeout
  test/spec.js
Labels: none

test: add some basic tests
  .gitpod.yml
  package.json
  test/spec.js
Labels: none

chore: add nyc
  package-lock.json
  package.json
Labels: none

test: add some new tests
  test/spec.js
Labels: none

chore: add mocha and spectron
  package-lock.json
  package.json
Labels: none

chore: add test scripts to package.json
  package.json
Labels: none

test: write test using async await
  test/spec.js
Labels: none

test: increase timeout
  test/spec.js
Labels: none

test: make before and after hooks async
  test/spec.js
Labels: none

fix: launching spectron without gitpod
  test/spec.js
Labels: none

test: add debug message
  test/spec.js
Labels: none

test: add chrome driver args
  test/spec.js
Labels: none
