Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

fix: previous version not bumped
  package.json
Labels: none

0.10.3
  package-lock.json
  package.json
Labels: none

fix: not bundling chunks in dist
  package.json
Labels: none

0.10.4
  package-lock.json
  package.json
Labels: none

feat: log process output to console (temporarily)
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

feat(internal): add class for managing running instance process
  src/renderer/store/InstanceData.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

feat(internal): create a new InstanceProcess on launch
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

feat: output logs modal
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal.ts
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/components/InstanceModal/Logs.ts
  src/renderer/css/global.css
  src/renderer/store/InstanceData.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates, css

style: eslint
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

feat: show running status
  src/renderer/components/InstanceModal/Logs.ts
  src/renderer/store/InstanceData.ts
Labels: renderer-process, components

feat: move label to right
  src/renderer/components/InstanceModal/Logs.ts
Labels: renderer-process, components

chore: add debug message for resolved version
  src/renderer/Instance.ts
Labels: renderer-process

style: use tabs
  src/renderer/css/global.css
Labels: renderer-process, css

test: add test for opening logs modal
  test/spec.ts
Labels: none

chore(workflow): fix upload-artifact version
  .github/workflows/build.yml
  .github/workflows/tag-build.yml
Labels: none

docs: update README.md to reflect new features
  README.md
Labels: none

0.10.5
  package-lock.json
  package.json
Labels: none

[ImgBot] Optimize images
  semantic/src/themes/default/assets/fonts/brand-icons.svg
  semantic/src/themes/default/assets/fonts/icons.svg
  semantic/src/themes/default/assets/fonts/outline-icons.svg
Labels: none

fix: task progress incorrect percentage
  package-lock.json
  package.json
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

fix: task progress not updating correctly
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

feat: only reinstall dependencies when version is corrupted
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/TaskProgress.ts
  src/renderer/utils/installer.ts
Labels: renderer-process, components

fix: installing status not correctly shown in UI
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/store/InstanceData.ts
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process, components

style: eslint fix
  src/renderer/store/InstanceListStore.ts
Labels: renderer-process

0.10.6
  package-lock.json
  package.json
Labels: none

fix: macos build workflow
  .github/workflows/build.yml
Labels: none

fix: macos build workflow
  .github/workflows/tag-build.yml
Labels: none

Fix: macOS build workflow (#326)
  .github/workflows/build.yml
  .github/workflows/tag-build.yml
Labels: none

test: add initial test with playwright-electron
  package-lock.json
  package.json
  src/main/main.ts
  src/renderer/views/layout.pug
  test/playwright.js
  test/test.ts
Labels: main-process, renderer-process, templates

test(workflow): add playwright testing to github actions workflow
  .github/workflows/test.yml
Labels: none

chore(main): remove icon in main.ts
  src/main/main.ts
Labels: main-process

test(codecov): setup code coverage for playwright test
  .github/workflows/test.yml
  package.json
  test/playwright.js
  test/test.ts
Labels: none

fix(workflow): playwright not generating coverage
  .github/workflows/test.yml
Labels: none

test(window): add some basic tests with playwright
  test/test.ts
Labels: none

test: add more tests with playwright
  package-lock.json
  package.json
  src/renderer/views/news.pug
  test/test.ts
Labels: renderer-process, templates

test: separate test setup into new file test/setup.ts
  .github/workflows/test.yml
  test/instances.test.ts
  test/setup.ts
  test/test.ts
  test/window.test.ts
Labels: none

feat: set appdata path to ./test/temp/ when running tests
  package-lock.json
  package.json
  src/main/main.ts
  test/instances.test.ts
  test/setup.ts
Labels: main-process

test(workflow): run playwright test even if previous test failed
  .github/workflows/test.yml
Labels: none

test(setup): fix reset temp directory (hopefully) with rimraf
  src/main/main.ts
  test/setup.ts
Labels: main-process

test(instances): add a few new tests to instances.test.ts
  test/instances.test.ts
  test/window.test.ts
Labels: none

test(spectron): remove tests rewritten with playwright
  test/instances.test.ts
  test/spec.ts
Labels: none

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
