Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

fix: webpack code splitting in production
  webpack.config.js
Labels: none

fix: webpack config for code coverage
  webpack.config.js
Labels: none

chore: webpack better code splitting
  webpack.config.js
Labels: none

fix: not detecting corrupted version
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

perf: enable dynamic import lazy loading in webpack
  src/main/main.ts
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/views/home.pug
  src/renderer/views/instances.pug
  src/renderer/views/layout.pug
  tsconfig.json
  webpack.config.js
Labels: main-process, renderer-process, components, templates

perf: remove dynamic imports in Instance because tree shaking is disabled
  src/renderer/Instance.ts
  webpack.config.js
Labels: renderer-process

refactor: rewrite TaskProgress with LitElement
  src/renderer/components/TaskProgress.ts
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

test: fix selectors
  test/spec.ts
Labels: none

chore: remove unused template
  src/renderer/templates/TaskProgress.pug
Labels: renderer-process, templates

perf: lazy load turbolinks after window load
  src/renderer/StartupTasks.ts
  webpack.config.js
Labels: renderer-process

fix: show last played string on InstanceListItem
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

refactor: rewrite InstanceInfoModal with LitElement
  src/renderer/Instance.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/templates/InstanceInfoModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

chore: dedupe dependencies
  package-lock.json
Labels: none

test: fix broken selector
  test/spec.ts
Labels: none

chore: remove useless conditional
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

chore: istanbul ignore else
  src/renderer/StartupTasks.ts
Labels: renderer-process

fix: show corrupted alert on missing version json
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

test: add test for missing version json detection
  test/spec.ts
Labels: none

test: fix user not logged in
  src/renderer/StartupTasks.ts
  test/spec.ts
Labels: renderer-process

test: add test for showing user login modal when attempting to launch instance
  test/spec.ts
Labels: none

chore: remove wrong type cast
  src/renderer/Instance.ts
Labels: renderer-process

chore: assign to property instead of value
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

fix: error not prevent form from submitting
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

fix: prevent naming an instance with an empty string
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: rewrite Options modal with LitElement
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/templates/modals/instances/Options.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

test: add additional test for rename modal
  test/spec.ts
Labels: none

test: fix selector
  test/spec.ts
Labels: none

test: fix selector
  test/spec.ts
Labels: none

test: fix label not visible
  test/spec.ts
Labels: none

test: fix test
  test/spec.ts
Labels: none

test: fix rename test
  test/spec.ts
Labels: none

fix: no instances message not in container
  src/renderer/components/InstanceList.ts
Labels: renderer-process, components

refactor: use non-null assertion
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: rewrite AuthModal with LitElement
  src/renderer/Render.ts
  src/renderer/components/AuthModal.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/templates/AuthModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

refactor: rewrite HomeAccount with LitElement
  src/renderer/components/HomeComponents/Account.ts
  src/renderer/templates/HomeComponents/Account.pug
  src/renderer/templates/HomeComponents/Instance.pug
Labels: renderer-process, components, templates

style: eslint
  src/renderer/components/HomeComponents/Account.ts
Labels: renderer-process, components

chore: remove legacy modal
  src/renderer/components/AuthModal.ts
Labels: renderer-process, components

fix: clear login form
  src/renderer/components/AuthModal.ts
Labels: renderer-process, components

chore: remove useless assertion
  src/renderer/Instance.ts
Labels: renderer-process

chore: move non null assertion to selector
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components
