Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

fix: remove all error messages before render
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

feat: add server list
  package-lock.json
  package.json
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

perf: use existing selector
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

chore: temp rename
  src/renderer/templates/modals/instances/saves.pug
  src/renderer/templates/modals/instances/saves__.pug
Labels: renderer-process, templates

test: add basic test for servers tab
  test/spec.ts
Labels: none

feat: replace tabular with secondary menu
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

feat: add basic template for saves modal
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

chore: rename to caps
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

fix: use async fs methods
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

perf: improve fs perf and add loader
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

fix: allowRendererProcessReuse breaks fs in renderer
  src/main/main.ts
Labels: main-process

feat: add tab to data modal
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

fix: mark @xmcl/client as external for temp fix
  package-lock.json
  package.json
  webpack.config.js
Labels: none

feat: show player count in server list
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

chore: fix import for uuid
  src/renderer/components/NewInstanceModal.ts
  test/spec.ts
Labels: renderer-process, components

feat: set server table column length
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, templates

feat: ping servers
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

chore: reduce timeout to 4000ms
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

chore: add @xmcl/client
  package-lock.json
  package.json
Labels: none

fix: minecraft game path in wrong dir
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

feat: add error status to failed server pings
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

feat: add refresh button to server list
  src/renderer/components/InstanceModal/SavesTabServer.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

chore: npm audit fix
  package-lock.json
Labels: none

chore: revert uuid import change
  src/renderer/components/NewInstanceModal.ts
  test/spec.ts
Labels: renderer-process, components

chore: make more readable
  src/renderer/components/InstanceModal/SavesTabServer.ts
Labels: renderer-process, components

test: fix typo in selector
  test/spec.ts
Labels: none

test: add basic server list test
  test/spec.ts
Labels: none

fix: webpack not bundling uuid
  package.json
  webpack.config.js
Labels: none

feat: world list tab
  src/renderer/components/InstanceModal/Saves.ts
  src/renderer/components/InstanceModal/SavesTabWorld.ts
  src/renderer/templates/modals/instances/Saves.pug
Labels: renderer-process, components, templates

feat: use moment for date display
  src/renderer/components/InstanceModal/SavesTabWorld.ts
Labels: renderer-process, components

style: eslint fix
  src/renderer/components/InstanceModal/Saves.ts
Labels: renderer-process, components

fix: typo in test name
  test/spec.ts
Labels: none

test: add test for server list tab
  test/mock/servers.dat
  test/spec.ts
Labels: none

0.9.0
  package-lock.json
  package.json
Labels: none

fix: show unknown version if none found
  src/renderer/components/InstanceModal/SavesTabWorld.ts
Labels: renderer-process, components

test: add install test for latest snapshot
  test/spec.ts
Labels: none

test: remove only
  test/spec.ts
Labels: none

test: add historical versions install test
  test/spec.ts
Labels: none

docs: update README.md with new features
  README.md
Labels: none

test: add test for task progress bar
  test/spec.ts
Labels: none

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
