Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

style: remove any
  src/renderer/Instance.ts
  src/renderer/components/TaskProgress.ts
Labels: renderer-process, components

chore(deps): npm ddp and npm audit fix
  package-lock.json
Labels: none

0.10.1
  package-lock.json
  package.json
Labels: none

chore: rename build-watch to watch
  .github/CONTRIBUTING.md
  .gitpod.yml
  .vscode/tasks.json
  package.json
Labels: none

chore: rename build to prod
  .github/workflows/build.yml
  .github/workflows/tag-build.yml
  package.json
Labels: none

chore: vscode task
  .vscode/tasks.json
Labels: none

chore: remove postinstall
  package.json
Labels: none

chore(workflow): remove install from eslint
  .github/workflows/eslint.yml
  .github/workflows/lint.yml
Labels: none

chore: only run lint in workflow
  .github/workflows/lint.yml
  package.json
Labels: none

fix: eslint
  .github/workflows/lint.yml
Labels: none

fix: missing packages for eslint typescript
  .github/workflows/lint.yml
Labels: none

fix: lint
  .github/workflows/lint.yml
Labels: none

fix: npm not running script
  .github/workflows/build.yml
Labels: none

fix: missing npm script
  .github/workflows/tag-build.yml
Labels: none

fix: test workflow not building main process files
  .github/workflows/test.yml
Labels: none

docs: update npm scripts in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Organize npm scripts (#246)
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/lint.yml
  .github/workflows/tag-build.yml
  .github/workflows/test.yml
  .gitpod.yml
  .vscode/tasks.json
  package.json
Labels: none

refactor: move variable assignment from constructor to declaration
  src/renderer/components/InstanceList.ts
Labels: renderer-process, components

chore: rename cache group chunk names
  webpack.config.js
Labels: none

perf: remove momentjs locales
  webpack.config.js
Labels: none

perf: lazy load InstanceModal
  src/renderer/Instance.ts
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

chore: remove useless comments
  src/renderer/components/InstanceModal/Options.ts
Labels: renderer-process, components

perf: remove @xmcl/installer from webpack externals
  webpack.config.js
Labels: none

fix: instance info modal not showing on home page
  src/renderer/components/HomeComponents/Instance.ts
Labels: renderer-process, components

style: replace any with more precise type
  src/renderer/store/InstanceData.ts
Labels: renderer-process

perf: lazy load @xmcl/installer
  src/renderer/Instance.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/controllers/VersionsController.ts
  src/renderer/store/InstanceData.ts
Labels: renderer-process, components

style: add space after comment
  src/renderer/Instance.ts
Labels: renderer-process

chore: remove index signature
  src/renderer/store/InstanceData.ts
Labels: renderer-process

perf: lazy load @xmcl/installer
  src/renderer/Instance.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/controllers/VersionsController.ts
  src/renderer/utils/installer.ts
  src/renderer/utils/version.ts
Labels: renderer-process, components

chore: remove namespace
  src/renderer/StartupTasks.ts
  src/renderer/controllers/VersionsController.ts
Labels: renderer-process

perf: lazy load AuthModal
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AccountModal.ts
  src/renderer/controllers/AuthenticationController.ts
Labels: renderer-process, components

style: remove seperator
  src/renderer/components/AccountModal.ts
Labels: renderer-process, components

fix: auth modal not showing when launching
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

Improve performance with dynamic imports (#250)
  src/renderer/Instance.ts
  src/renderer/Render.ts
  src/renderer/StartupTasks.ts
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Instance.ts
  src/renderer/components/InstanceListItem.ts
  src/renderer/components/InstanceModal/Options.ts
  src/renderer/components/NewInstanceModal.ts
  src/renderer/controllers/AuthenticationController.ts
  src/renderer/controllers/VersionsController.ts
  src/renderer/store/InstanceData.ts
  src/renderer/utils/installer.ts
  src/renderer/utils/version.ts
  webpack.config.js
Labels: renderer-process, components

feat: log process output to console (temporarily)
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

fix: missing items in package
  package.json
Labels: none

feat: log process output to console (temporarily)
  src/renderer/components/InstanceListItem.ts
Labels: renderer-process, components

fix(npm): npm script does not exist
  package.json
Labels: none

0.10.2
  package-lock.json
  package.json
Labels: none

Revert "0.10.2"
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*
