Repository lukechu10/Minecraft-Box-Launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: main-process, renderer-process, components, templates, css

.github/labeler.yml:

main-process:
  - src/main/**/*
renderer-process:
  - src/renderer/**/*
components:
  - src/renderer/components/**/*
templates:
  - src/renderer/templates/**/*
  - src/renderer/views/**/*
css:
  - src/renderer/css/**/*

chore(webpack-config): fix missing loader
  webpack.config.js
Labels: none

chore: transpile only typescript in production
  webpack.config.js
Labels: none

chore(webpack-config): fix missing loader
  webpack.config.js
Labels: none

chore(deps): install lit-element
  package-lock.json
  package.json
Labels: none

refactor: rewrite AccountModal using LitElement
  src/renderer/components/AccountModal.ts
  src/renderer/store/AuthStore.ts
  src/renderer/templates/AccountModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

fix: link on home page for account modal
  src/renderer/components/AccountModal.ts
Labels: renderer-process, components

fix: account modal event handler
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Account.ts
  test/spec.ts
Labels: renderer-process, components

chore: change debugging port for elements
  .vscode/launch.json
Labels: none

chore: remove invalid todos and fixmes
  src/renderer/components/InstanceListItem.ts
  src/renderer/controllers/JavaInstall.ts
Labels: renderer-process, components

chore: remove unused variable
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: rewrite rename modal with LitElement
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/templates/modals/instances/Rename.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

refactor: simplify logic
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

feat: set input error if instance exists already
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: force semicolons in code workspace
  Minecraft Box Launcher.code-workspace
Labels: none

refactor: rewrite ConfirmDelete using LitElement
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/templates/modals/instances/ConfirmDelete.pug
  src/renderer/templates/modals/instances/confirmDelete.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

refactor: move delete handler to new function
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

refactor: move handle rename to function
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: remove commented code
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: make showModal methods async
  src/renderer/components/AccountModal.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

style: use non-null assertion operator
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

chore: remove unused import
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

style: use non-null assertion operator
  src/renderer/components/InstanceModal/Info.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: add istanbul ignore
  src/renderer/components/InstanceModal/Info.ts
Labels: renderer-process, components

style: improve code cov
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components

chore: simplify state update
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: remove debug message
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: make render() protected
  src/renderer/components/AccountModal.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: rewrite AccountModal using LitElement
  src/renderer/components/AccountModal.ts
  src/renderer/store/AuthStore.ts
  src/renderer/templates/AccountModal.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

chore(deps): install lit-element
  package-lock.json
  package.json
Labels: none

chore: remove invalid todos and fixmes
  src/renderer/components/InstanceListItem.ts
  src/renderer/controllers/JavaInstall.ts
Labels: renderer-process, components

chore: remove unused variable
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

fix: link on home page for account modal
  src/renderer/components/AccountModal.ts
Labels: renderer-process, components

fix: account modal event handler
  src/renderer/components/AccountModal.ts
  src/renderer/components/HomeComponents/Account.ts
  test/spec.ts
Labels: renderer-process, components

refactor: rewrite rename modal with LitElement
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/Rename.ts
  src/renderer/templates/modals/instances/Rename.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

chore: change debugging port for elements
  .vscode/launch.json
Labels: none

refactor: simplify logic
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

chore: force semicolons in code workspace
  Minecraft Box Launcher.code-workspace
Labels: none

refactor: move handle rename to function
  src/renderer/components/InstanceModal/Rename.ts
Labels: renderer-process, components

refactor: rewrite ConfirmDelete using LitElement
  src/renderer/Instance.ts
  src/renderer/components/InstanceModal/ConfirmDelete.ts
  src/renderer/templates/modals/instances/ConfirmDelete.pug
  src/renderer/templates/modals/instances/confirmDelete.pug
  src/renderer/views/layout.pug
Labels: renderer-process, components, templates

refactor: move delete handler to new function
  src/renderer/components/InstanceModal/ConfirmDelete.ts
Labels: renderer-process, components
